<p id="notice"><%= notice %></p>

<h1>To-Do Lists</h1>
<%= link_to "Create New List", new_list_path %> |
<%= link_to "Create New Task", new_task_path %>

<% @lists.each do |list| %>
  <%= render partial: "lists", locals: { list: list, tasks: list.tasks } %>
<% end %>

<% unless @misc_tasks.empty? %>
  <h1>Miscellaneous Tasks</h1>
  <%= render partial: "tasks", locals: { tasks: @misc_tasks } %>
<% end %>

