<p id="notice"><%= notice %></p>

<%= render partial: "tasks_and_subtasks", locals: { task: @task.title } %>

<%= link_to "Edit", edit_task_path(@task) %> |
<%= link_to "Back to Tasks", tasks_url %> |
<%= link_to "Back to Lists", lists_url %>

