<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @subtask.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subtask.description %>
</p>

<p>
  <strong>Task:</strong>
  <%= @subtask.task.title %>
</p>

<%= link_to "<< Back", @subtask.task %> |
<%= link_to "Go to Tasks", tasks_url %> |
<%= link_to "Go to Lists", lists_url %>

